/* Variables */ 
:root {
    --body-font: 'Cormorant Upright', serif;
    --reviews-font: ;
    --body-background: rgba(216, 213, 207, 0.3);
    --logo-font: 'Ms Madi', cursive;
}

/* Reviews: font-family: 'Cormorant Upright', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/* Logo font-family: 'Ms Madi', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&family=Ms+Madi&family=Roboto+Condensed:ital,wght@1,300&display=swap');

/* Header */

html {
}

body {
    font-family: var(--body-font);
    background-color: var(--body-background);
    margin: 0px;
}
header {
    background-color: wheat;
    padding-bottom: 10px;
}
nav {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.logo {
    margin-top: 1%;
    margin-right: auto;
    margin-left: 10%;
}
.logo {
    width: 200px;
    height: 75px;
    font-family: var(--logo-font);
    text-shadow: 5px 5px rgb(163, 139, 95);
}
.logo:hover {
    cursor: pointer;
}
.links {
    max-height: 50px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2vh;
    border-radius: 50%;
    background-color: rgba(209, 156, 57, 0.473);
    font-size: 2.5vh;
    letter-spacing: 5px;

}
.links ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.links li {
    margin: 10px;
    margin-top: 15px;
}
.links a {
    text-decoration: none;
    color: black;
}
.links a:hover {
    color: rgba(255, 0, 0, 0.644);
}

/* Images */

.images-container {
    margin: 2% auto;
    margin-left: auto;
    align-self: center;
    width: 90%;
    border: 1px solid whitesmoke;
    display: grid;
    justify-content: space-between;
    background-image: url(/img/img1.jpg);
    padding: 2%;
    border-radius: 2%;
}
.big-image {
    width: 400px;
    height: 300px;
    margin: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
#big-image {
    
}
#small-image {
    text-align: right;
}
.small-image {
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    box-shadow: 4px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 2%;
}

.img {
    width: 80vh;
    height: 60vh;
    margin: 15px;
    box-shadow: 5px 1px 3px 1px rgba(0, 0, 0, 0.459);
}
.img1 {
    width: 90vh;
    height: 70vh;
    grid-row: 1 / 2;
    grid-column: 1;
}
.img2 {
    grid-row: 3;
    grid-column: 1;
}
.img3 {
    grid-row: 1;
    grid-column: 2;
}
.img4 {
    grid-row: 2;
    grid-column: 2;
}
.img5 {
    grid-row: 3;
    grid-column: 2;
}
.info{
    width: 500px;
    height: 300px;
    margin: 15px;
    box-shadow: 5px 1px 3px 1px rgba(0, 0, 0, 0.459);
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.4);
}

/* Prices */

.prices-container {
    width: 70%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 1px 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin: 2% auto;
    background-image: url(/img/img3.jpg);
}
.card {
    margin: 1% auto;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: whitesmoke;
    border-radius: 10px;
    font-style: italic;
}
.card button {
    width: 20%;
    font-size: 2.5vh;
    background-color: rgba(240, 180, 70, 0.712);
    font-weight: bold;
    border: none;
}

/* Reviews */

.reviews-container {
    background-image: url(/img/img4.jpg);
    width: 60%;
    margin: 2% auto;
    padding: 2%;
    border-radius: 2%;
}
.display-review {
    width: 60%;
    margin: 1% auto;
    background-color: rgba(250, 235, 215, 0.9);
    padding: 5px 10px;
    border-radius: 2%;
}
.display-review .card {
    background-color: rgba(245, 250, 220, 0.945);
}
.display-review button {
    border-radius: 50%;
    background-color: wheat;
    padding-right: 4vh;
    padding-left: 2vh;
    margin: 10px;

}
.display-review img {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}
.hidden-reviews {
    display:none;
}

/* Footer */

footer {
    overflow: hidden;
    background-color: var(--body-background);
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.footer-container {
    margin-right: 1%;
    justify-items: center;
    display: grid;
}
.info-footer {
    text-align: center;
    grid-row: 1;
    grid-column: 2;
}
.info-footer p {
    margin: 0px;
}
.copyright {
    text-align: center;
    grid-row: 1;
    grid-column: 3 ;
}
.copyright p {
    margin: 0px;
}
.copyright h4 {
    font-family: var(--logo-font);
}

/* Media */

@media (max-width: 700px) {

    .images-container {
        margin: 2% auto;
        margin-left: auto;
        align-self: center;
        width: 90%;
        border: 1px solid whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img {
        max-width: 300px;
        max-height: 200px;
    }
    .info {
        max-width: 300px;
        max-height: 200px;
    }
}