/* Variables */ 
:root {
    --body-font: 'Cormorant Upright', serif;
    --reviews-font: ;
    --body-background: rgba(216, 213, 207, 0.3);
    --logo-font: 'Ms Madi', cursive;
}

/* Reviews: font-family: 'Cormorant Upright', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/* Logo font-family: 'Ms Madi', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&family=Ms+Madi&family=Roboto+Condensed:ital,wght@1,300&display=swap');

/* Navbar */

body {
    font-family: var(--body-font);
    background-color: var(--body-background);
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: whitesmoke;
    align-items: baseline;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin: 0 10% 0 10%;
}
nav a {
    text-decoration: none;
    color: black;
}
.logo {
    font-family: var(--logo-font);
}

/* Presentation */

.presentation-container {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background-image: url(/img/img1.jpg);
    background-size: 100% 600px;
    background-repeat: no-repeat;
}
.main-card {

}